
#repo{
  overflow: auto;
  height: 50vh;
  width: 50vh;
  text-align: center;
}

#followers img, #following img{
  max-width: 100px;
  max-height: 100px;
}

.jumbotron{
  background-image: url(https://assets-cdn.github.com/images/modules/open_graph/github-octocat.png);

}
body{
  // background-image: url(https://assets-cdn.github.com/images/modules/open_graph/github-octocat.png);
  // background-repeat: no-repeat;
    // background-attachment: fixed;
}
